<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @result.user_id %>
</p>

<p>
  <strong>Ordered at:</strong>
  <%= @result.ordered_at %>
</p>

<p>
  <strong>Requested at:</strong>
  <%= @result.requested_at %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
