<%= form_for(@focus) do |f| %>
  <% if @focus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@focus.errors.count, "error") %> prohibited this focus from being saved:</h2>

      <ul>
      <% @focus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :context_id %><br>
    <%= f.text_field :context_id %>
  </div>
  <div class="field">
    <%= f.label :snomedct_id %><br>
    <%= f.text_field :snomedct_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
