<p id="notice"><%= notice %></p>

<p>
  <strong>Context:</strong>
  <%= @focus.context_id %>
</p>

<p>
  <strong>Snomed:</strong>
  <%= @focus.snomedct_id %>
</p>

<%= link_to 'Edit', edit_focus_path(@focus) %> |
<%= link_to 'Back', foci_path %>
